{% extends 'base.html' %}
{% block page_css %}
    <style type="text/css">
        #search_img > img {
            width: 80%;
        }

        #search_img > ul {
            margin-top: 30px;
            width: 100%;
            margin-left: 8%;
        }

        #search_img > ul > li {
            float: left;
            width: 15%;
            margin: 5px;
        }

        #search_img > ul > li > img:hover {
            border: 2px solid red;
        }

        #search_img > ul > li > img {
            width: 56px;
            height: 56px;
        }

    </style>
{% endblock %}

{% block page_jq %}
    <script type="text/javascript">
        $(function () {
            $('#search_img li').mouseover(function () {
                var img_url = $(this).attr('data')
                $('#search_img>img').attr('src', '/static/img/single/' + img_url + '.jpg')
            })
        })

    </script>


{% endblock %}


{% block title %}
    详情
{% endblock %}

{% block page_head %}
{% endblock %}
{% block page_main %}
    <div id="search_img" class="col-lg-6 text-center">
        <img src="/static/img/single/{{ shop.imgs.0.shop_img_id }}.jpg">

        <ul class="clear">
            {% for img in shop.imgs %}
                {% if img.type == 'type_single' %}
                    <li data='{{ img.shop_img_id }}'>
                        <img src="/static/img/small/{{ img.shop_img_id }}.jpg"></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="search_text" class="col-lg-6">
        <p>{{ shop.name }}</p>
        <p>{{ shop.sub_title }}</p>
        <p>聚划算 此商品即将参加聚划算，1天19小时后开始</p>
        <p><span></span>全天猫实物商品通用</p>
        <p><span>价  格:</span><span>{{ shop.original_price }}</span></p>
        <p><span>促销价:</span><span>{{ shop.promote_price }}</span></p>
        <p><span>销量</span><span>2157</span>| <span>评价量</span><span>157</span></p>
        <p><input type="number" min="1" max="{{ shop.stock }}" value="1">件 库存量{{ shop.stock }}件 </p>
        <p>
            <button type="button">立即购买</button>
            <button type="button">加入购物车</button>
        </p>
    </div>
{% endblock %}
{% block page_footer %}

{% endblock %}