{% extends 'base.html' %}
{% block page_css %}

    <style type="text/css">
        #search_img > img {
            width: 80%;
        }

        #search_img > ul {
            margin-top: 30px;
            width: 100%;
            margin-left: 8%;
        }

        #search_img > ul > li {
            float: left;
            width: 15%;
            margin: 5px;
        }

        #search_img > ul > li > img:hover {
            border: 2px solid red;
        }

        #search_img > ul > li > img {
            width: 56px;
            height: 56px;
        }

    </style>
{% endblock %}

{% block page_jq %}
    <script type="text/javascript">

        $(function () {
            $('#search_img li').mouseover(function () {
                var img_url = $(this).attr('data')
                $('#search_img>img').attr('src', '/static/img/single/' + img_url + '.jpg')
            });

            {#     添加购物车#}
            $('#add').click(function () {
                {#  发送ajax请求#}
                let add_url = 'http://127.0.0.1:9000/car/add/';
                {#post请求提交参数#}
                /**
                 * data  传递的数据
                 *       string类型  shop_id=1&number=1
                 *       对象类型  传递的数据比较多的时候建议使用该方式(推荐)  {shop_id:1
                 *                    number:1
                 *       }
                 *
                 *     403错误 防止跨域攻击
                 *     1> 如果是ajax请求直接使用  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                 *     2> 也可以在服务端解决
                 *     from django.views.decorators.csrf import csrf_exempt
                 *     @csrf_exempt
                 */

                let data = {
                    shop_id: {{ shop.shop_id }},
                    number: $('#number').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };
                $.post(add_url, data, function (result) {

                })

            })

        })

    </script>


{% endblock %}


{% block title %}
    详情
{% endblock %}

{% block page_head %}
{% endblock %}
{% block page_main %}
    {% csrf_token %}
    {% include 'include/shop_content.html' %}
    <div id="shop_detail_id">

        <div>
            <button type="button">商品详情</button>
            <button type="button">评论 {{ count }}</button>
        </div>

        <div id="shop_params">
            {% for value in values %}
                <p class="col-lg-4">{{ value.property.name }} : {{ value.value }}</p>
            {% endfor %}
            {% for img in shop.imgs %}
                {% if img.type == 'type_detail' %}
                    <img src='/static/img/detail/{{ img.shop_img_id }}.jpg'>
                {% endif %}
            {% endfor %}
        </div>
        <div id="shop_review">

        </div>

    </div>






{% endblock %}
{% block page_footer %}

{% endblock %}