<div class="container-fluid">
    <ul>
        {% for category in categories %}
            <li>
                <p>{{ category.name }}</p>
                <ul class="container">
                    {% for shop in category.shops %}
                        <a href="{% url 'detail' %}?id={{ shop.shop_id }}">
                            <li class="col-lg-2">
                                <img src="/static/img/single/{{ shop.img.shop_img_id }}.jpg"
                                     style="width: 100%;min-height: 250px">
                                <p>{{ shop.name }}</p>
                                <p>{{ shop.promote_price }}</p>
                            </li>
                        </a>
                    {% endfor %}
                </ul>

            </li>
        {% endfor %}
    </ul>
</div>