{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}

{% block page_css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block page_jq %}
    <script src="{% static 'js/unslider.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block page_head %}
    {#    头部部分#}
    {#    1>登录注销  购物车 订单#}
    {% include 'include/common/common_top.html' %}
    {#    logo 搜索按钮#}
    {% include 'include/common/common_serach.html' %}
{% endblock %}

{% block page_main %}
    {#   导航菜单  分类菜单  轮播图#}
    {% include 'include/home_top_page.html' %}
    {% include 'include/home_content_page.html' %}
{% endblock %}

{% block page_footer %}

{% endblock %}