{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filter %}
{% block page_jq %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block page_main %}
    <table id="tb_car">
        <tr>
            <th><input type="checkbox"> 全选</th>
            <th>商品详情</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
            <th>操作</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td><input type="checkbox"></td>
                <td><img src="/static/img/single/{{ car.shop.img.shop_img_id }}.jpg" width="50"><a
                        href="">{{ car.shop.name }}</a>
                </td>
                <td>{{ car.shop.promote_price }}</td>
                <td>
                    <button type="button" class="add">+</button>
                    <input type="text" min="1" max="{{ car.shop.stock }}" value="{{ car.number }}">
                    <button type="button" class="delete">-</button>
                </td>
                <td>{{ car.number|multiply:car.shop.promote_price }}</td>
                <td>
                    <button class="car_btn" car_id="{{ car.car_id }}">删除</button>
                </td>
            </tr>

        {% empty %}
            空空如也<a href="#">浏览商品</a>
        {% endfor %}
    </table>
{% endblock %}
